html,
body {
    height: 100%;
}

img {
    max-height: 100vh;
    object-fit: cover;
}


/*Cover*/

#cover {
    background: #222 url(img/laptop-2557572_1920.jpg) center center no-repeat;
    background-size: cover;
    color: white;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
}

#cover-caption {
    width: 100%;
}

.col-m-10 {
    margin: 0 auto;
    padding: 2rem;
    background: rgba(0, 0, 0, 0.7);
}

.carousel-item img {
    object-fit: cover;
    height: calc(100vh - 55.7px);
}

.card img {
    width: 100%;
}

.carousel-caption h2 {
    padding: 1rem;
    background: rgba(0, 0, 0, 0.5);
}

.section-content {
    padding: 5rem 0;
}

#about {
    background: url(img/woman-690036_1920.jpg) center center no-repeat;
    background-size: cover;
}

.about-text {
    background: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 1.875rem;
}

#footer-main {
    background: #222;
    color: white;
    font-size: 1rem;
    padding: 2.5rem 0;
}
